<div class="container" *ngIf="covidInfo">
    <h1>{{nazivDrzave}}</h1>
    <h4>Covid-19 info as of {{danasnjiDatum | date:'dd.MM.yyyy.'}}</h4>
    <p>Population: {{brojStanovnika | number}}</p>
    <p>Total number of infected: {{ukupnoZarazenih | number}}</p>
    <p>Total number of deaths: {{ukupnoSmrtnihSlucajeva | number}}</p>
    <p>Total number of recovered: {{maxOporavljenih.recovered| number}}</p>
    <p>Most infected per day: {{maxDnevniBrojZarazenih.confirmed_daily | number}} - {{maxDnevniBrojZarazenih.date | date:'dd.MM.yyyy.'}}</p>
    <p>Most deaths per day: {{maxDnevniBrojUmrlih.deaths | number}} - {{maxDnevniBrojUmrlih.date | date:'dd.MM.yyyy.'}}</p>
    <p>Average number of infected per day: {{prosjecanBrojZarazenih | number}}</p>
    <div class="grafikoni">

        <canvas baseChart [datasets]="grafikonPodaciZarazenih" [labels]="grafikonLabele" [chartType]="'bar'"></canvas>
        <canvas baseChart [datasets]="grafikonPodaciUmrlih" [labels]="grafikonLabele" [chartType]="'bar'"></canvas>

    </div>
</div>